<div class="row">
  <div class="col-md-5">
    <div class="form-group">
        <label class="control-label" ><%= t(:parent_menu) %> <span class='text-danger'>*</span></label>
        <div class="">
            <% parent_menu = Naturesoft::Menus::Menu.where(id: options["parent_id"]).first %>
            <% selected = options_for_select([[parent_menu.name,parent_menu.id]], parent_menu.id) if !parent_menu.nil? %>
            <%= select_tag("options[parent_id]",
              selected,
              {
                class: "select2-ajax",
                include_blank: "none",
                "data-url": naturesoft_menus.select2_backend_menus_path,
              }
            ) %>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
        <label class="control-label" ><%= t(:deep) %> <span class='text-danger'>*</span></label>
        <div class="">
            <%= text_field_tag "options[deep]", options["deep"], class: "form-control number_input required" %>
        </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
        <label class="control-label" ><%= t(:style) %> <span class='text-danger'>*</span></label>
        <div class="">
            <%= text_field_tag "options[style]", options["style"], class: "form-control required" %>
        </div>
    </div>
  </div> 
</div>