<% if menu.errors.any? %>
  <div class="alert alert-warning alert-bordered">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
  
      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for([naturesoft_menus, :admin, menu], html: {class: "form-horizontal validate"}) do |f| %>
    
    <div class="form-group">
        <label class="col-md-2 control-label" ><%= t(:name) %> <span class='text-danger'>*</span></label>
        <div class="col-md-10">
            <%= f.text_field :name, class: "form-control required" %>
        </div>
    </div>
        
    <div class="form-group">
        <label class="col-md-2 control-label" ><%= t(:description) %> <!--<span class='text-danger'>*</span>--></label>
        <div class="col-md-10">
            <%= f.text_area :description, rows: "5", cols: "5", class: "form-control" %>
        </div>
    </div>
        
    <div class="form-group">
      <label class="col-md-2 control-label" ><%= t(:parent_menu) %></label>
        <div class="col-md-10">
            <% selected = options_for_select([[menu.parent.full_name,menu.parent.id]],1) if menu.parent.present? %>
            <%= select_tag("menu[parent_id]",
              selected,
              {
                class: "select2-ajax",
                include_blank: "none",
                "data-url": select2_admin_menus_path,
                "data-excluded": menu.id,
              }
            ) %>            
        </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-2 control-label" ><%= t(:menu_type) %></label>
        <div class="col-md-10">
            <%= f.select :menu, grouped_options_for_select(Naturesoft::Menus::Menu.menusSelectOptions, menu.menu), {include_blank: "Choose..."}, {class: "select2 menu-type-select required", "data-url": naturesoft_menus.params_form_admin_menus_path(id: menu.id)} %>    
        </div>
    </div>
        
    <h3>Params</h3>
    
    <div class="menu_params_container"></div>

    <div class="text-right">
        <%= button_tag "#{t(:save)} <i class=\"icon-plus22 position-right\"></i>".html_safe, class: "btn btn-primary"%>
    </div>
    
<% end %>